img{
    height: 300px;
    width: 100%;
    border: 3px solid white;
}

*{
    font-family:  "Libre Baskerville", serif;
}

*{
    background-color: black;
}

h1{
    color: white;
    margin-left: 200px;
   font-size: 25px;
}

p{
    color: white;
    margin-left: 245px;
    font-size: 10px;
}

div{
    margin-left: 25%;
    width: 50%;
    margin-top: 150px;
}